/*———————————————————————————————————————— prevent scrolling */

html, body{
  margin: 0;
  height: 100%;
  overflow: hidden;
  cursor:default;
}

body{
  background-color:lime;
}

/*———————————————————————————————————————— hide mouseover & mousedown states */

/* couldn't be overridden in JS */
g[id^='mod'] { display: none; }
g[id^='mov'] { display: none; }

/*———————————————————————————————————————— correct cursor over links */

rect[id^='link'] { cursor: pointer; }

/*———————————————————————————————————————— tracking iframe */

iframe{
  height:1px;
  border:none;
}

/*———————————————————————————————————————— to prevent wrong scaling  */

body{
  background-color:#535353;
  margin:0;
  padding:0;
}

/*———————————————————————————————————————— to prevent wrong scaling  */

    svg:first-of-type{ width:240px; }

/*———————————————————————————————————————— hide mouseover buttons */

#btn1mo, #btn2mo, #btn3mo, #btn4mo, #btn5mo, #btn6mo, #btn7mo, #btn8mo,
#btn1md, #btn2md, #btn3md, #btn4md, #btn5md, #btn6md, #btn7md, #btn8md,
#x { display:none; }

/*———————————————————————————————————————— fin */
